## E-Commerce Dataset Processing
https://www.kaggle.com/datasets/gabrielramos87/an-online-shop-business/data

### Step 1 : Download and extract data

In [1]:
!kaggle datasets download -d gabrielramos87/an-online-shop-business

Dataset URL: https://www.kaggle.com/datasets/gabrielramos87/an-online-shop-business
License(s): CC0-1.0
Downloading an-online-shop-business.zip to c:\Users\Admin\Documents\kittyns\Git\workshop1-data-collection

  0%|          | 0.00/6.66M [00:00<?, ?B/s]
 15%|█▌        | 1.00M/6.66M [00:01<00:06, 933kB/s]
 30%|███       | 2.00M/6.66M [00:01<00:02, 1.87MB/s]
 60%|██████    | 4.00M/6.66M [00:01<00:00, 4.03MB/s]
100%|██████████| 6.66M/6.66M [00:01<00:00, 7.30MB/s]
100%|██████████| 6.66M/6.66M [00:01<00:00, 4.44MB/s]

### unzip file

In [8]:
# !unzip an-online-shop-business.zip
from zipfile import ZipFile
zf = ZipFile('an-online-shop-business.zip', 'r')
zf.extractall('')
zf.close()

'unzip' is not recognized as an internal or external command,
operable program or batch file.

### Change file name

In [9]:
# !mv 'Sales Transaction v.4a.csv' transaction.csv

'mv' is not recognized as an internal or external command,
operable program or batch file.

## Step 2 : Data processing using Pandas

In [1]:
import pandas as pd

df = pd.read_csv('transaction.csv')
df

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [2]:
df.columns

Index(['TransactionNo', 'Date', 'ProductNo', 'ProductName', 'Price',
       'Quantity', 'CustomerNo', 'Country'],
      dtype='object')

### Add day

In [3]:
from pandas.tseries.offsets import Day

df['Date'] = pd.to_datetime(df['Date']) + Day(1614)

In [4]:
df

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,2024-05-10,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,2024-05-10,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,2024-05-10,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,2024-05-10,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,2024-05-10,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
...,...,...,...,...,...,...,...,...
536345,C536548,2023-05-03,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,2023-05-03,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,2023-05-03,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,2023-05-03,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,2023-05-03,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

### Create product_master

In [5]:
product_master = df[['ProductNo', 'ProductName']].drop_duplicates()
df = df.drop(columns=['ProductName'])

In [6]:
product_master

       ProductNo                          ProductName
0          22485        Set Of 2 Wooden Market Crates
1          22596  Christmas Star Wish List Chalkboard
2          23235             Storage Tin Vintage Leaf
3          23272    Tree T-Light Holder Willie Winkie
4          23239    Set Of 4 Knick Knack Tins Poppies
...          ...                                  ...
532815     22275     Weekend Bag Vintage Rose Paisley
532946    16161M                      Wrap Pink Flock
533368     84854                  Girly Pink Tool Set
535419     82615  Pink Marshmallow Scarf Knitting Kit
536347     20957         Porcelain Hanging Bell Small

[3768 rows x 2 columns]

### Create customer_master

In [7]:
customer_master = df[['CustomerNo', 'Country']].drop_duplicates()
df = df.drop(columns=['Country'])

In [8]:
customer_master

        CustomerNo         Country
0          17490.0  United Kingdom
1          13069.0  United Kingdom
20         12433.0          Norway
84         13426.0  United Kingdom
94         17364.0  United Kingdom
...            ...             ...
535301     16274.0  United Kingdom
535474     14142.0  United Kingdom
535507     13065.0  United Kingdom
536103     18011.0  United Kingdom
536155     17558.0  United Kingdom

[4739 rows x 2 columns]

### Generate fake names
Use Faker library to generate fake names.

In [9]:
# %pip install faker

In [10]:
from faker import Faker

fake = Faker()
customer_master['Name'] = customer_master['CustomerNo'].apply(lambda x: fake.name())

In [11]:
customer_master

        CustomerNo         Country              Name
0          17490.0  United Kingdom      Tara Johnson
1          13069.0  United Kingdom        Jacob Rich
20         12433.0          Norway     Brian Stanton
84         13426.0  United Kingdom    Christine Peck
94         17364.0  United Kingdom  Stephanie Nelson
...            ...             ...               ...
535301     16274.0  United Kingdom      Penny Juarez
535474     14142.0  United Kingdom   Alyssa Sullivan
535507     13065.0  United Kingdom    Katherine Chan
536103     18011.0  United Kingdom      Lisa Montoya
536155     17558.0  United Kingdom       April Young

[4739 rows x 3 columns]

### Summary

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  datetime64[ns]
 2   ProductNo      536350 non-null  object
 3   Price          536350 non-null  float64
 4   Quantity       536350 non-null  int64
 5   CustomerNo     536295 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 24.6+ MB

In [13]:
df.describe()

,Date,Price,Quantity,CustomerNo
count,536350,536350.000000,536350.000000,536295.000000
mean,2023-12-04 02:52:31.891116032,12.662182,9.919347,15227.893178
min,2023-05-03 00:00:00,5.130000,-80995.000000,12004.000000
25%,2023-08-28 00:00:00,10.990000,1.000000,13807.000000
50%,2023-12-20 00:00:00,11.940000,3.000000,15152.000000
75%,2024-03-20 00:00:00,14.090000,10.000000,16729.000000
max,2024-05-10 00:00:00,660.620000,80995.000000,18287.000000
std,NaN,8.490450,216.662300,1716.582932

- product_master

In [14]:
product_master.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3768 entries, 0 to 536347
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductNo    3768 non-null   object
 1   ProductName  3768 non-null   object
dtypes: object(2)
memory usage: 88.3+ KB

In [15]:
product_master.describe()

       ProductNo                    ProductName
count       3768                           3768
unique      3768                           3768
top        22485  Set Of 2 Wooden Market Crates
freq           1                              1

- customer_master

In [16]:
customer_master.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4739 entries, 0 to 536155
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerNo  4738 non-null   float64
 1   Country     4739 non-null   object
 2   Name        4739 non-null   object
dtypes: float64(1), object(2)
memory usage: 148.1+ KB

In [17]:
customer_master.describe()

         CustomerNo
count   4738.000000
mean   15247.345504
std     1742.044884
min    12004.000000
25%    13743.250000
50%    15251.500000
75%    16746.750000
max    18287.000000

## Step 3 : Insert into Database

In [18]:
import os

class config:
    MYSQL_HOST = os.getenv('MYSQL_HOST')
    MYSQL_PORT = os.getenv('MYSQL_PORT')
    MYSQL_USER = os.getenv('MYSQL_USER')
    MYSQL_PASSWORD = os.getenv('MYSQL_PASSWORD')
    MYSQL_DB = 'ecommerce'
    MYSQL_CHARSET = 'utf8mb4'

### Connect to MySQL database

In [19]:
# %pip install pymysql

In [20]:
import sqlalchemy

engine = sqlalchemy.create_engine(
    "mysql+pymysql://{user}:{password}@{host}:{port}/{db}".format(
        user=config.MYSQL_USER,
        password=config.MYSQL_PASSWORD,
        host=config.MYSQL_HOST,
        port=config.MYSQL_PORT,
        db=config.MYSQL_DB,
    )
)

In [21]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/ecommerce)

In [22]:
df

       TransactionNo       Date ProductNo  Price  Quantity  CustomerNo
0             581482 2024-05-10     22485  21.47        12     17490.0
1             581475 2024-05-10     22596  10.65        36     13069.0
2             581475 2024-05-10     23235  11.53        12     13069.0
3             581475 2024-05-10     23272  10.65        12     13069.0
4             581475 2024-05-10     23239  11.94         6     13069.0
...              ...        ...       ...    ...       ...         ...
536345       C536548 2023-05-03     22168  18.96        -2     12472.0
536346       C536548 2023-05-03     21218  14.09        -3     12472.0
536347       C536548 2023-05-03     20957  11.74        -1     12472.0
536348       C536548 2023-05-03     22580  16.35        -4     12472.0
536349       C536548 2023-05-03     22767  20.45        -2     12472.0

[536350 rows x 6 columns]

### Create Schema

In [24]:
schema_name = 'ecommerce'

with engine.connect() as connection:
    connection.execute(sqlalchemy.text(f"CREATE DATABASE IF NOT EXISTS {schema_name};"))

### Insert to tables
- df -> ecommerce.transaction
- product_master -> ecommerce.product
- customer_master -> ecommerce.customer

In [25]:
df.to_sql(
    'transaction',        # Name of the table to be created
    con=engine,           # SQLAlchemy engine connection
    schema=schema_name,   # Database name
    if_exists='replace',  # 'fail', 'replace', or 'append'
    index=False,          # Whether to include the DataFrame's index as a column
    chunksize=1000,       # Number of rows to insert in each chunk (for large DataFrames)
)

536350

In [26]:
product_master.to_sql(
    'product',
    con=engine,
    schema=schema_name,
    if_exists='replace',
    index=False,
    chunksize=1000
)

3768

In [27]:
customer_master.to_sql(
    'customer',
    con=engine,
    schema=schema_name,
    if_exists='replace',
    index=False,
    chunksize=1000
)

4739

## Step 4 : Query and save output files

In [28]:
sql = "select * from ecommerce.customer"
customer = pd.read_sql_query(sql, engine)
customer

      CustomerNo         Country              Name
0        17490.0  United Kingdom      Tara Johnson
1        13069.0  United Kingdom        Jacob Rich
2        12433.0          Norway     Brian Stanton
3        13426.0  United Kingdom    Christine Peck
4        17364.0  United Kingdom  Stephanie Nelson
...          ...             ...               ...
4734     16274.0  United Kingdom      Penny Juarez
4735     14142.0  United Kingdom   Alyssa Sullivan
4736     13065.0  United Kingdom    Katherine Chan
4737     18011.0  United Kingdom      Lisa Montoya
4738     17558.0  United Kingdom       April Young

[4739 rows x 3 columns]

## Save to parquet files

In [30]:
%pip install pyarrow
%pip install fastparquet

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-16.1.0-cp311-cp311-win_amd64.whl (25.9 MB)
   ---------------------------------------- 0.0/25.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.9 MB 960.0 kB/s eta 0:00:27
    --------------------------------------- 0.4/25.9 MB 5.2 MB/s eta 0:00:05
   - -------------------------------------- 0.9/25.9 MB 7.3 MB/s eta 0:00:04
   -- ------------------------------------- 1.7/25.9 MB 10.0 MB/s eta 0:00:03
   ---- ----------------------------------- 2.8/25.9 MB 12.7 MB/s eta 0:00:02
   ------ --------------------------------- 4.4/25.9 MB 16.4 MB/s eta 0:00:02
   --------- ------------------------------ 6.4/25.9 MB 20.5 MB/s eta 0:00:01
   -------------- ------------------------- 9.5/25.9 MB 26.3 MB/s eta 0:00:01
   --------------------- ------------------ 14.2/25.9 MB 65.2 MB/s eta 0:00:01
   ------------------------------ --------- 19.5/25.9 MB 108.8 MB/s eta 0:00:01
   -------------------------------------- - 24.9/25.9 MB 131.2 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 110.0 MB/s eta 0:00:01
   ---------------------------------------- 25.9/25.9 MB 73.0 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-16.1.0
Note: you may need to restart the kernel to use updated packages.
Collecting fastparquet
  Downloading fastparquet-2024.5.0-cp311-cp311-win_amd64.whl.metadata (4.3 kB)
Requirement already satisfied: pandas>=1.5.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: numpy in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fastparquet) (1.26.4)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.8.3-cp311-none-win_amd64.whl.metadata (4.3 kB)
Collecting fsspec (from fastparquet)
  Downloading fsspec-2024.6.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fastparquet) (24.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.5.0-cp311-cp311-win_amd64.whl (671 kB)
   ---------------------------------------- 0.0/672.0 kB ? eta -:--:--
   ------------ --------------------------- 204.8/672.0 kB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 672.0/672.0 kB 8.5 MB/s eta 0:00:00
Downloading cramjam-2.8.3-cp311-none-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   -------------- ------------------------- 0.6/1.6 MB 12.9 MB/s eta 0:00:01
   ---------------------------------------  1.6/1.6 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 17.3 MB/s eta 0:00:00
Downloading fsspec-2024.6.0-py3-none-any.whl (176 kB)
   ---------------------------------------- 0.0/176.9 kB ? eta -:--:--
   ---------------------------------------- 176.9/176.9 kB ? eta 0:00:00
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.8.3 fastparquet-2024.5.0 fsspec-2024.6.0
Note: you may need to restart the kernel to use updated packages.

In [36]:
df.to_parquet("transaction.parquet", index=False)
product_master.to_parquet("product.parquet", index=False)
customer_master.to_parquet("customer.parquet", index=False)

## Using DuckDB !
It's easy to read the Parquet file using DuckDB.

In [37]:
# %pip install duckdb

Collecting duckdb
  Downloading duckdb-1.0.0-cp311-cp311-win_amd64.whl.metadata (781 bytes)
Downloading duckdb-1.0.0-cp311-cp311-win_amd64.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/9.9 MB 2.6 MB/s eta 0:00:04
   -- ------------------------------------- 0.7/9.9 MB 8.8 MB/s eta 0:00:02
   ------ --------------------------------- 1.6/9.9 MB 12.5 MB/s eta 0:00:01
   ----------- ---------------------------- 2.9/9.9 MB 16.6 MB/s eta 0:00:01
   ------------------ --------------------- 4.6/9.9 MB 20.9 MB/s eta 0:00:01
   ---------------------------- ----------- 7.1/9.9 MB 26.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ------------------------------------- -- 9.4/9.9 MB 31.7 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 12.0 MB/s eta 0:00:00
Installing collected packages: duckdb
Successfully installed duckdb-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [38]:
import duckdb

connection = duckdb.connect()

### Select from parquet file

In [41]:
duckdb.sql('select * from transaction.parquet')

┌───────────────┬─────────────────────┬───────────┬────────┬──────────┬────────────┐
│ TransactionNo │        Date         │ ProductNo │ Price  │ Quantity │ CustomerNo │
│    varchar    │      timestamp      │  varchar  │ double │  int64   │   double   │
├───────────────┼─────────────────────┼───────────┼────────┼──────────┼────────────┤
│ 581482        │ 2024-05-10 00:00:00 │ 22485     │  21.47 │       12 │    17490.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 22596     │  10.65 │       36 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 23235     │  11.53 │       12 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 23272     │  10.65 │       12 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 23239     │  11.94 │        6 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 21705     │  10.65 │       24 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 22118     │  11.53 │       18 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 22119     │  12.25 │       12 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 22217     │  10.65 │       12 │    13069.0 │
│ 581475        │ 2024-05-10 00:00:00 │ 22216     │  10.55 │       24 │    13069.0 │
│   ·           │          ·          │   ·       │     ·  │        · │       ·    │
│   ·           │          ·          │   ·       │     ·  │        · │       ·    │
│   ·           │          ·          │   ·       │     ·  │        · │       ·    │
│ 580876        │ 2024-05-07 00:00:00 │ 72799C    │   6.19 │        2 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 72799E    │   6.19 │        2 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 79149B    │   6.19 │        1 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 72800B    │   6.19 │        1 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 72800C    │   6.19 │        1 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 72800E    │   6.19 │        1 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 85071C    │   6.19 │        1 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 85071B    │   6.19 │        2 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 85071D    │   6.19 │        1 │    14071.0 │
│ 580876        │ 2024-05-07 00:00:00 │ 85071A    │   6.19 │        2 │    14071.0 │
├───────────────┴─────────────────────┴───────────┴────────┴──────────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                                          6 columns │
└──────────────────────────────────────────────────────────────────────────────────┘

In [42]:
duckdb.sql('select count(*) from transaction.parquet')

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│       536350 │
└──────────────┘

DuckDB also makes it easy to join multiple Parquet files.

In [46]:
duckdb.sql('select * from transaction.parquet join product.parquet on (transaction.productno = product.productno)')

┌───────────────┬─────────────────────┬───────────┬────────┬──────────┬────────────┬───────────┬───────────────────────┐
│ TransactionNo │        Date         │ ProductNo │ Price  │ Quantity │ CustomerNo │ ProductNo │      ProductName      │
│    varchar    │      timestamp      │  varchar  │ double │  int64   │   double   │  varchar  │        varchar        │
├───────────────┼─────────────────────┼───────────┼────────┼──────────┼────────────┼───────────┼───────────────────────┤
│ 581482        │ 2024-05-10 00:00:00 │ 22485     │  21.47 │       12 │    17490.0 │ 22485     │ Set Of 2 Wooden Mar…  │
│ 581475        │ 2024-05-10 00:00:00 │ 22596     │  10.65 │       36 │    13069.0 │ 22596     │ Christmas Star Wish…  │
│ 581475        │ 2024-05-10 00:00:00 │ 23272     │  10.65 │       12 │    13069.0 │ 23272     │ Tree T-Light Holder…  │
│ 581475        │ 2024-05-10 00:00:00 │ 23239     │  11.94 │        6 │    13069.0 │ 23239     │ Set Of 4 Knick Knac…  │
│ 581475        │ 2024-05-10 00:00:00 │ 22119     │  12.25 │       12 │    13069.0 │ 22119     │ Peace Wooden Block …  │
│ 581475        │ 2024-05-10 00:00:00 │ 22217     │  10.65 │       12 │    13069.0 │ 22217     │ T-Light Holder Hang…  │
│ 581475        │ 2024-05-10 00:00:00 │ 22216     │  10.55 │       24 │    13069.0 │ 22216     │ T-Light Holder Whit…  │
│ 581475        │ 2024-05-10 00:00:00 │ 22380     │  11.06 │       20 │    13069.0 │ 22380     │ Toy Tidy Spaceboy     │
│ 581475        │ 2024-05-10 00:00:00 │ 22664     │  11.06 │       20 │    13069.0 │ 22664     │ Toy Tidy Dolly Girl…  │
│ 581475        │ 2024-05-10 00:00:00 │ 22721     │  12.25 │       12 │    13069.0 │ 22721     │ Set Of 3 Cake Tins …  │
│   ·           │          ·          │   ·       │     ·  │        · │       ·    │   ·       │           ·           │
│   ·           │          ·          │   ·       │     ·  │        · │       ·    │   ·       │           ·           │
│   ·           │          ·          │   ·       │     ·  │        · │       ·    │   ·       │           ·           │
│ 580890        │ 2024-05-07 00:00:00 │ 85053     │   6.19 │       48 │    15189.0 │ 85053     │ French Enamel Candl…  │
│ 580891        │ 2024-05-07 00:00:00 │ 22086     │   6.04 │        6 │    17481.0 │ 22086     │ Paper Chain Kit 50'…  │
│ 580891        │ 2024-05-07 00:00:00 │ 22909     │   7.24 │       12 │    17481.0 │ 22909     │ Set Of 20 Vintage C…  │
│ 580891        │ 2024-05-07 00:00:00 │ 22910     │   7.24 │        6 │    17481.0 │ 22910     │ Paper Chain Kit Vin…  │
│ 580891        │ 2024-05-07 00:00:00 │ 22625     │   7.24 │        2 │    17481.0 │ 22625     │ Red Kitchen Scales    │
│ 580891        │ 2024-05-07 00:00:00 │ 23350     │   7.24 │       12 │    17481.0 │ 23350     │ Roll Wrap Vintage S…  │
│ 580891        │ 2024-05-07 00:00:00 │ 21285     │   7.24 │       12 │    17481.0 │ 21285     │ Retrospot Candle Me…  │
│ 580891        │ 2024-05-07 00:00:00 │ 21286     │   7.24 │       12 │    17481.0 │ 21286     │ Retrospot Candle La…  │
│ 580891        │ 2024-05-07 00:00:00 │ 22119     │   7.24 │       12 │    17481.0 │ 22119     │ Peace Wooden Block …  │
│ 580891        │ 2024-05-07 00:00:00 │ 22220     │   7.24 │        6 │    17481.0 │ 22220     │ Cake Stand Lovebird…  │
├───────────────┴─────────────────────┴───────────┴────────┴──────────┴────────────┴───────────┴───────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                              8 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘